# _site/
.sass-cache/
_sass
.jekyll-metadata



# Ignoring everything but _site for Jekyll stuff because Github said it doesn't want to build with my fancy plugin ok ok ok
index.html
feed.xml
_config.yml
pages
img
css
_layouts
_includes
_events
_data
_books
_authors
_plugins
_hack
