<header class="navy sans-serif bg-cover bg-top border-bottom p3">

    <a class="h3 gray caps" href="{{ site.url }}/">Just <span class="black">Dust</span> Publishing</a>

  <div class="container">



    <nav class="flex center">

        {% for page in site.pages exclude:home %}
          {% if page.title %}
          <div class="flex-auto">
            <a href="{{ page.url | prepend: site.url }}" class="btn block gray fw100 caps h5">{{ page.title }}</a>
          </div>
          {% endif %}
        {% endfor %}

    </nav>

  </div>

</header>
